[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
gunicorn = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
requests = "*"
pillow = "*"
psycopg2-binary = "*"
django-anymail = {extras = ["mailgun"], version = "*"}
pydantic = "*"
pydantic-settings = "*"
django-extensions = "*"
pyotp = "*"
mailtrap = "*"
django-ninja = "*"
django-environ = "*"
boto3 = "*"
drf-yasg = "*"
django-filter = "*"
imagekitio = "*"
cloudinary = "*"
whitenoise = "*"
dj-database-url = "==0.5.0"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-django = "*"
django-extensions = "*"
pytest-mock = "*"

[requires]
python_version = "3.12"
